* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notes {
  padding: 24px 32px;
}

.header {
  display: flex;
  margin-bottom: 16px;
}

.header__title {
  margin-right: 24px;
}

.button {
  padding: 8px 10px;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 50%;
  cursor: pointer;
  line-height: 1;
}

.footer__text {
  margin-right: 16px;
  padding: 16px;
  font-size: 1rem;
  border: 1px solid #000;
  resize: none;
}

.footer {
  bottom: 24px;
}

/* .footer__form{
  display: flex;
} */
